/* footer styles */ 
footer {
    background-color: rgb(145, 145, 145);
    align-content: center;
    margin-top: 50px;
}

footer p {
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    color: #f6f6f6;
    padding: 10px;
}